Package: ourcraft
Version: ${VERSION}
Section: base
Priority: optional
Architecture: amd64
Maintainer: Carlos Fdez. Llamas <hello@sirikon.me>
Description: Ourcraft
 https://github.com/sirikon/ourcraft
Depends: libevent-2.1-7
Recommends: restic
