[Unit]
Description=Ourcraft

[Service]
Type=forking

WorkingDirectory=<%= workdir %>
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
ExecStart=/usr/bin/screen -dmS ourcraft  ourcraft start

Restart=on-failure
RestartSec=3

KillSignal=SIGINT
TimeoutStopSec=60

[Install]
WantedBy=default.target
